.main-modal.open
	.top-line
		.main-container.logos
			.inline-holder
				.left-part.inline-el
					.image-holder
						a(href="index.html")
							img(src="img/icons/global-images-logo.png", alt="")
				.right-part.inline-el
					.image-holder
						a(href="index.html")
							img(src="img/icons/gettyimg.png", alt="")
	.form-holder

		form(action="")
			.inline-holder
				.contacts.inline-el.mobile
					h3 Связаться с нами
					h5 ООО "ГЛОБАЛ ИМИДЖЕС ЮКРЕЙН" 
					p Getty Images Master Delegate 
					p Украина 01032 г. Киев
					p ул. Саксаганского, 119, 8 эт.
					p
						a(href="tel:38 044 277 9966") Tel:+38 044 277 9966
					p
						a(href="mailto:ukraine@globalimages.com.ua") Email: ukraine@globalimages.com.ua
					

				.inputs.inline-el
					h3 Отправить запрос
					.form-group
						label(for="") Выбрать тип запроса
						select#(name="")
							option(selected , disabled)
							option Получить Смету
							option Купить Подписку
							option Заказать подборку фото/видео/музыка
							option Дополнительные услуги
					.form-group
						label(for="") Имя
						input(type="text")
					.form-group
						label(for="") E-mail
						input(type="text")
					.form-group
						label(for="") Телефон
						input(type="text")
					.form-group
						.comment
							label(for="") Текст
							textarea#textarea
						button Отправить

				.contacts.inline-el
					h3 Contuct Us
					h5 ООО "ГЛОБАЛ ИМИДЖЕС ЮКРЕЙН" 
					p Getty Images Master Delegate 
					p Украина 01032 г. Киев
					p ул. Саксаганского, 119, 8 эт.
					p
						a(href="tel:38 044 277 9966") Tel:+38 044 277 9966
					p
						a(href="mailto:ukraine@globalimages.com.ua") Email: ukraine@globalimages.com.ua
					


	//- a#callbackclose.close-btn(href="#")
	//- 	img(src="img/icons/ic_close_48px.svg", alt="")