section.footer
	.main-container
		.inline-holder.first-lv
			.inline-el.nav-list
				ul
					mixin footmenuitem(href, text)
						li.inline-el
							a(href= href)= text
					+footmenuitem('#', 'Истории и тренды')
					+footmenuitem('#', 'Сервисы')
					+footmenuitem('#', 'Правовая информация')
					+footmenuitem('#', 'Контакты')
			.inline-el.social-list
				ul
					mixin footsocitem(href, src, cls)
						li.inline-el(class= cls)
							a(href= href)
								img(src= src, alt= src)

					+footsocitem('#', 'img/icons/facebook-foot-icon.png', 'facebook')
					+footsocitem('#', 'img/icons/twitter-foot-icon.png', 'twitter')
					+footsocitem('#', 'img/icons/instagram-foot-icon.png', 'instagram')
			p
				|2016 © ООО Глобал Имидес Юкрейн осуществляет деятельность по лицензированию цифрового контента для использования профессионалами в средствах массовой информации, диджитал коммуникациях, рекламных компаниях и др. Все права на материалы охраняются в соответствии с законодательством Украины и не могут быть использованы без согласования с ООО Глобал Имиджес Юкрейн.