meta(charset='UTF-8')
meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")

meta(name="msapplication-TileColor" content="#da532c")
meta(name="msapplication-TileImage" content="mstile-144x144.png")
meta(name="theme-color" content="#ffffff")

link(rel='stylesheet', href='vendor/normalize-css/normalize.css')
link(rel='stylesheet', href='vendor/font-awesome/css/font-awesome.min.css')
link(rel='stylesheet', href='vendor/animate.css/animate.css')
link(rel='stylesheet', href='vendor/bxslider-4/dist/jquery.bxslider.min.css')
//- link(rel='stylesheet', href='css/concated.css')
link(rel='stylesheet', href='css/fonts.css')
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Bad+Script")
link(rel='stylesheet', href='css/main.css')
