section.main-nav
	.nav-container
		.gray-wrap
			ul.inline-holder
				mixin navitem(url, name)
					li.inline-el
						a(href= url)= name

				+navitem('photo.html', 'Фото')
				+navitem('video.html', 'Видео')
				+navitem('music.html', 'Музыка')
				+navitem('istock.html', 'iStock')
				+navitem('services.html', 'Наши услуги и сервисы')
				+navitem('contacts.html', 'Контакты')
			div.mobile-btn-holder
				div#m-nav-btn
					span
					span
					span
					span
			ul#mobile-menu
				+navitem('photo.html', 'Фото')
				+navitem('video.html', 'Видео')
				+navitem('music.html', 'Музыка')
				+navitem('istock.html', 'iStock')
				+navitem('services.html', 'Наши услуги и сервисы')
				+navitem('contacts.html', 'Контакты')