section.top-line
	.main-container
		.inline-holder
			.left-part.inline-el
				.image-holder
					a(href="index.html")
						img(src="img/icons/global-images-logo.png", alt="")
			.right-part.inline-el
				.image-holder
					a(href="index.html")
						img(src="img/icons/gettyimg.png", alt="")
	.main-nav
		.nav-container
			ul.inline-holder
				mixin navitem(url, name)
					li.inline-el
						a(href= url)= name

				+navitem('', 'О нас')
				+navitem('/photo.html', 'Фото')
				+navitem('/video.html', 'Видео')
				+navitem('/music.html', 'Музыка')
				+navitem('/services.html', 'iStock')
				+navitem('/contacts.html', 'Подписки')
				+navitem('/contacts.html', 'Контакты')
			div.mobile-btn-holder
				div#m-nav-btn
					span
					span
					span
					span
			ul#mobile-menu
				+navitem('photo.html', 'Фото')
				+navitem('video.html', 'Видео')
				+navitem('music.html', 'Музыка')
				+navitem('istock.html', 'iStock')
				+navitem('services.html', 'Наши услуги и сервисы')
				+navitem('contacts.html', 'Контакты')