- var mainpage = true

//- //mixins//
mixin aboutitem(header, text)
	.inline-el
		h3.ellipsis-text= header
		p= text

doctype html
html(lang='en')
	head
		title GLOBAL Images

		include ./partials/head.jade

	body

		include ./partials/top-line.jade


		section.main-bg.contacts-bg
			.main-container
				.text
					p НАШИ КОНТАКТЫ

		section.contacts-description
			.main-container
				.inline-holder
					.inline-el
						h3 GLOBAL IMAGES UKRAINE
						p
							|Эксклюзивный представитель 
							a(href="www.gettyimages.com") Getty images 
							| в Украине, мирового лидера по созданию, распространению и лицензированию всех видов цифрового контента
					.inline-el
						h3
							a(href="tel:+38 (044) 277 99 66") +38 (044) 277 99 66
						p
							|ООО "ГЛОБАЛ ИМИДЖЕС ЮКРЕЙН"/ Getty images Master Delegate Украина 01032г.
							a(href="tel:+38 (044) 277 99 66")  +38 (044) 277 99 66
							|  Киев,ул.Саксаганского,119,8эт. email:
							a(href="") ukraine@globalimages.com.ua

		section.team-section
			.main-container
				h2 Встречайте Команду
				.inline-holder
					mixin minigalitem(text, href, src)
						.contact-block.inline-el
							.text-holder
								p= text
								p= href 
							.image-holder
								img.fake-img(src= src, alt= src)
								.img(style= 'background-image: url('+ src +')')
								.description-holder
									.text
										p Address: The White House. 1600 Pennsylvania Avenue, NW.
										p
											a(href="tel:5545545455454") Tel: +5545545455454
										p
											a(href="mailto:president@whitehouse.gov") Email: president@whitehouse.gov
					+minigalitem(
					'Кирилл Матвиенко',
					'партнер',
					'img/content/sliderimg8.jpg'
					)
					+minigalitem(
					'Кирилл Матвиенко',
					'партнер',
					'img/content/sliderimg8.jpg'
					)
					+minigalitem(
					'Кирилл Матвиенко',
					'партнер',
					'img/content/sliderimg8.jpg'
					)
					+minigalitem(
					'Кирилл Матвиенко',
					'партнер',
					'img/content/sliderimg8.jpg'
					)
					+minigalitem(
					'Кирилл Матвиенко',
					'партнер',
					'img/content/sliderimg8.jpg'
					)
					+minigalitem(
					'Кирилл Матвиенко',
					'партнер',
					'img/content/sliderimg8.jpg'
					)
					+minigalitem(
					'Кирилл Матвиенко',
					'партнер',
					'img/content/sliderimg8.jpg'
					)
					+minigalitem(
					'Кирилл Матвиенко',
					'партнер',
					'img/content/sliderimg8.jpg'
					)
					
						
						





		
		include ./partials/footer.jade





	include ./partials/scripts.jade
