- var mainpage = true

//- //mixins//
mixin aboutitem(header, text)
	.inline-el
		h3.ellipsis-text= header
		p!= text

doctype html
html(lang='en')
	head
		title GLOBAL Images

		include ./partials/head.jade

	body

		include ./partials/top-line.jade
		section.top-slider
			.slider-container
				.viewport
					ul.carousel
						mixin sliderItem(src, src1, src2, text)
							li.slide
								.image-holder
									img.fake-img(src= src, alt= src)
									.img(style= 'background-image: url('+ src +')')
									.text-holder
										p= text
							
						+sliderItem(
						'img/content/sliderimg1.jpg',
						'img/content/sliderimg1.jpg',
						'img/content/gettyImages-78033113.jpg',
						'Глобальное покрытие текущих спортивных событий ')
						+sliderItem(
						'img/content/sliderimg2.jpg',
						'img/content/sliderimg2.jpg',
						'img/content/gettyImages-78033113.jpg',
						'Глобальное покрытие текущих спортивных событий ')
						+sliderItem(
						'img/content/sliderimg3.jpg',
						'img/content/sliderimg3.jpg',
						'img/content/gettyImages-78033113.jpg',
						'Глобальное покрытие текущих спортивных событий ')
						+sliderItem(
						'img/content/sliderimg4.jpg',
						'img/content/sliderimg4.jpg',
						'img/content/gettyImages-78033113.jpg',
						'Глобальное покрытие текущих спортивных событий ')
						+sliderItem(
						'img/content/sliderimg5.jpg',
						'img/content/sliderimg5.jpg',
						'img/content/gettyImages-78033113.jpg',
						'Глобальное покрытие текущих спортивных событий ')

						li.slide
							.image-holder
								video.fit-img(autoplay="autoplay", muted, loop="loop")
									source(src="https://df4gxzhrgxhss.cloudfront.net/riosmall.mp4", type="video/mp4")
							.text-holder
								p Глобальное покрытие текущих спортивных событий
				
				

		section.about
			.main-container
				.inline-holder
					+aboutitem(
						'О нас',
						'Global Images - эксклюзивный представитель Getty Images в Украине - мирового лидера на рынке визуальных коммуникаций с общим объемом цифрового контента более 2,3 мил- лиарда. Мы были первыми на украинском рынке кто начал заниматься лицензированием контента и вот уже более 15 лет продолжаем.'
					)
					+aboutitem(
						'Getty Images',
						'Global Images - эксклюзивный представитель Getty Images в Украине - мирового лидера на рынке визуальных коммуникаций с общим объемом цифрового контента более 2,3 мил- лиарда. Мы были первыми на украинском рынке кто начал заниматься лицензированием контента и вот уже более 15 лет продолжаем.'
					)
					+aboutitem(
						'Работая с нами',
						'Global Images - эксклюзивный представитель Getty Images в Украине - мирового лидера на рынке визуальных коммуникаций с общим объемом цифрового контента более 2,3 мил- лиарда. Мы были первыми на украинском рынке кто начал заниматься лицензированием контента и вот уже более 15 лет продолжаем.'
					)

		section.mini-galery
			.main-container
				.inline-holder
					mixin minigalitem(href, src)
						.inline-el
							a(href= href)
								.image-holder
									img.fake-img(src= src, alt= src)
									.img(style= 'background-image: url('+ src +')')
					+minigalitem(
						'#',
						'img/content/minigalimg1.jpg'
					)
					+minigalitem(
						'#',
						'img/content/minigalimg2.jpg'
					)
					+minigalitem(
						'#',
						'img/content/minigalimg3.jpg'
					)
					+minigalitem(
						'#',
						'img/content/minigalimg4.jpg'
					)


		section.about
			.main-container
				h2 Почему выгодно работать с нами?
				.inline-holder
					+aboutitem(
						'Контент',
						'Global Images - эксклюзивный представитель Getty Images в Украине - мирового лидера на рынке визуальных коммуникаций с общим объемом цифрового контента более 2,3 мил- лиарда. Мы были первыми на украинском рынке кто начал заниматься лицензированием контента и вот уже более 15 лет продолжаем.'
					)
					+aboutitem(
						'Экспертиза',
						'Global Images - эксклюзивный представитель Getty Images в Украине - мирового лидера на рынке визуальных коммуникаций с общим объемом цифрового контента более 2,3 мил- лиарда. Мы были первыми на украинском рынке кто начал заниматься лицензированием контента и вот уже более 15 лет продолжаем.'
					)
					+aboutitem(
						'Преимущества',
						'Global Images - эксклюзивный представитель Getty Images в Украине - мирового лидера на рынке визуальных коммуникаций с общим объемом цифрового контента более 2,3 мил- лиарда. Мы были первыми на украинском рынке кто начал заниматься лицензированием контента и вот уже более 15 лет продолжаем.'
					)

		//- section.facts
		//- 	.main-container
		//- 		h2 Некоторые факты о нас
		//- 		.inline-holder.white-box
		//- 			mixin factsitem(count, src, desc)
		//- 				.inline-el
		//- 					.top-name.ellipsis-text
		//- 						span= count
		//- 					.image-holder
		//- 						img(src= src, alt= src)
		//- 					.factsdesc
		//- 						span!= desc
		//- 			+factsitem(
		//- 				'100 стран',
		//- 				'img/icons/factsico1.png',
		//- 				'мира – наши </br> счастливые клиенты'
		//- 				)
		//- 			+factsitem(
		//- 				'125 млн',
		//- 				'img/icons/factsico2.png',
		//- 				'тематических фото'
		//- 				)
		//- 			+factsitem(
		//- 				'2 млн',
		//- 				'img/icons/factsico3.png',
		//- 				'видео'
		//- 				)
		//- 			+factsitem(
		//- 				'200 тыс',
		//- 				'img/icons/factsico4.png',
		//- 				'треков'
		//- 				)

		section.articles-list
			.main-container
				.inline-holder.first-lv
					mixin articlesitem(header, src)
						.inline-el.first-lv
							.image-holder
								img.fake-img(src= src, alt= src)
								.img(style= 'background-image: url('+ src +')')
							.text-holder
								h3!= header
									
					+articlesitem(
						'Story and trend',
						'img/images/story.jpg'
					)
					+articlesitem(
						'Creative in focus ',
						'img/images/creative-in.jpg'
					)
					+articlesitem(
						'Year in focus ',
						'img/images/in-focus.jpg'
					)
					+articlesitem(
						'Peer',
						'img/images/peer.jpg'
					)
					+articlesitem(
						'Where we stand ',
						'img/images/where.jpg'
					)
					+articlesitem(
						'Copyright matters',
						'img/images/copyright.jpg'
					)
		include ./partials/footer.jade





	include ./partials/scripts.jade
