
doctype html
html(lang='en')
	head
		title GLOBAL Images

	body
		table(style="'font-family: 'arial, sans-serif'")
			tbody
				tr
					td
						p(style="margin: 5px") Здравствуйте Виталий!
				tr
					td
						p(style="margin: 5px") Спасибо, что обратились к нам с запросом "Заказать подборку".
				tr
					td
						p(style="margin: 5px") Мы работаем над запросом и ответим Вам в течении ближайшего времени. 
				tr
					td
						p(style="margin: 40px 5px 5px 5px") C уважением,
				tr
					td
						p(style="margin: 5px") Команда Global Images Ukraine Getty images MD

		table(style="'font-family: 'arial, sans-serif'")
			tbody
				tr
					td
						p(style="margin: 2px") 11.20.2016
					td
						p(style="margin: 2px") дата и время получения
				tr
					td
						p(style="margin: 2px") Виталий
					td
						p(style="margin: 2px") имя отправителя
				tr
					td
						p(style="margin: 2px") заказать подборку
					td
						p(style="margin: 2px") тема запроса
				tr
					td
						p(style="margin: 2px") добрый день хочу заказать у вас подбор......
					td
						p(style="margin: 2px") текст запроса

		
