- var mainpage = true

//- //mixins//
mixin aboutitem(header, text)
	.inline-el
		h3.ellipsis-text= header
		p= text

doctype html
html(lang='en')
	head
		title GLOBAL Images

		include ./partials/head.jade

	body

		include ./partials/top-line.jade
		include ./partials/main-nav.jade
		
		section.part-description
			.main-container
				.inline-holder
					.inline-el
						.image-holder
							img.fake-img(src="img/content/part-description-1.jpg", alt="")
							.img(style= 'background-image: url(img/content/part-description-1.jpg)')
					.inline-el
						a(href="#")
							.description-holder
								p
									|Getty Images Music has over 250,000 tracks from around the world |available for advertising, television, film, video games and digtal |media. From our high end GUESTLIST and Premium Playlist to stan- |dard music collections (Pump Audio, Ah2, Atom Factory, Sound- cloud |and our RF SoundExpress), you will find a wide spectrum of genres |and styles, all pre-cleared for synch and master use rights, for |use on any media, for any term, for every budget.
								button View collection
		section.photo-collections.services
			.main-container
				h2 Наши услуги и сервисы
				.inline-holder
					mixin collectionsitem(head, src  )
						.inline-el
							a(href="#")
								.image-holder
									img.fake-img(src= src, alt= src)
									.img(style="background-image: url("+ src +")")
									.description-holder
										h2= head
					+collectionsitem(
						
						'Архивный календарь',
						'img/content/collectionsitem5.jpg'
					)
					+collectionsitem(
						'Архивный календарь',
						'img/content/collectionsitem5.jpg'
					)
					+collectionsitem(
						'Гид по поиску контента',
						'img/content/collectionsitem6.jpg'
					)
					+collectionsitem(
						'Истории и тренды',
						'img/content/collectionsitem7.jpg'
					)
					+collectionsitem(
						
						'Архивный календарь',
						'img/content/collectionsitem8.jpg'
					)
					+collectionsitem(
						'Архивный календарь',
						'img/content/collectionsitem9.jpg'
					)
					+collectionsitem(
						'Гид по поиску контента',
						'img/content/collectionsitem10.jpg'
					)
					+collectionsitem(
						'Истории и тренды',
						'img/content/collectionsitem11.jpg'
					)

		include ./partials/order.jade





		include ./partials/footer.jade





	include ./partials/scripts.jade
