- var mainpage = true

//- //mixins//
mixin aboutitem(header, text)
	.inline-el
		h3.ellipsis-text= header
		p= text

doctype html
html(lang='en')
	head
		title GLOBAL Images

		include ./partials/head.jade

	body

		include ./partials/top-line.jade

		section.main-bg.foto-bg
			.main-container
				.text
					p политика конфиденциальности
		section.policy-holder
			.main-container
				.privacy-policy
					h2 Privacy Policy
					p 
						|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi corporis, necessitatibus voluptate amet aut iste dolores placeat deleniti, voluptatibus blanditiis explicabo facilis, totam, impedit nisi perferendis incidunt fugiat! Voluptatibus, nemo.Sunt temporibus saepe ipsam minima eaque quas reprehenderit aliquid provident fugit blanditiis nesciunt harum expedita, sit officia, quo aspernatur. Deleniti quae et, ex eos sint voluptas nihil voluptatibus quam odio.Totam quidem similique quisquam nam veritatis. Porro laudantium, nemo aspernatur tempore ratione ipsam velit. Doloremque dolores voluptas rem sapiente ab, adipisci quasi perferendis ea quis amet ut non accusantium praesentium.Rerum quia ipsum earum repellat corrupti inventore laudantium, fugit debitis tenetur, nisi quisquam molestiae dicta architecto. Culpa quisquam molestias perspiciatis, eos cupiditate totam, sapiente obcaecati dolorum molestiae sed eius velit.Deleniti similique, nobis assumenda! Omnis iste laboriosam error deleniti, inventore accusamus praesentium officiis quas! Fugit, inventore quaerat. Molestias sequi distinctio velit tenetur, praesentium maiores est quaerat? Officiis provident cumque aspernatur.Unde assumenda, maiores odit, voluptatibus quae quis expedita cupiditate! Delectus esse tempora culpa error. Dolorem iure, quis fugit. Amet eaque id laboriosam quia, cum placeat! Praesentium nisi libero ea eos.Aliquam accusamus, ducimus. Corporis, eveniet ducimus, commodi nam illum, repellat nemo quam tempore delectus sit quidem inventore voluptatibus libero explicabo ipsam cumque autem accusamus nesciunt quae similique illo, maxime earum?Quidem ipsa optio, quod nulla ad minima sunt maxime, autem sint tenetur iusto, similique explicabo fuga mollitia in deserunt hic necessitatibus. Sed alias aperiam, a delectus suscipit harum fuga vero.Neque iste sint dolor cupiditate suscipit, fugiat quod non numquam magnam! Cumque quis omnis quisquam earum magni illum aperiam sed error sint placeat, quibusdam, atque distinctio, non odit ut maxime.Molestiae iste similique minima, iure eius, labore laudantium fugit sapiente fugiat nulla blanditiis ab adipisci laborum animi quia. Reiciendis dicta libero, fugit voluptates porro tempora enim fuga doloribus nobis reprehenderit!
					ul
						li ipit harum fuga vero.Neque iste sint dolor cupiditate suscipit, fugiat quod non numquam magnam! Cumque quis omnis quisquam earum magni illum aperiam sed error sint placeat, quibusdam, atque distinctio, non odit ut maxime.Molestiae iste similique minima, iure eius, labore laudantium fugit sapiente fugiat nulla blanditiis ab adipisci laborum animi quia. Reiciendis dicta libero, fugit voluptates porro tempora enim fuga doloribus nobis reprehenderit!
						li ipit harum fuga vero.Neque iste sint dolor cupiditate suscipit, fugiat quod non numquam magnam! Cumque quis omnis quisquam earum magni illum aperiam sed error sint placeat, quibusdam, atque distinctio, non odit ut maxime.Molestiae iste similique minima, iure eius, labore laudantium fugit sapiente fugiat nulla blanditiis ab adipisci laborum animi quia. Reiciendis dicta libero, fugit voluptates porro tempora enim fuga doloribus nobis reprehenderit!
						li ipit harum fuga vero.Neque iste sint dolor cupiditate suscipit, fugiat quod non numquam magnam! Cumque quis omnis quisquam earum magni illum aperiam sed error sint placeat, quibusdam, atque distinctio, non odit ut maxime.Molestiae iste similique minima, iure eius, labore laudantium fugit sapiente fugiat nulla blanditiis ab adipisci laborum animi quia. Reiciendis dicta libero, fugit voluptates porro tempora enim fuga doloribus nobis reprehenderit!
						li ipit harum fuga vero.Neque iste sint dolor cupiditate suscipit, fugiat quod non numquam magnam! Cumque quis omnis quisquam earum magni illum aperiam sed error sint placeat, quibusdam, atque distinctio, non odit ut maxime.Molestiae iste similique minima, iure eius, labore laudantium fugit sapiente fugiat nulla blanditiis ab adipisci laborum animi quia. Reiciendis dicta libero, fugit voluptates porro tempora enim fuga doloribus nobis reprehenderit!





		include ./partials/footer.jade





	include ./partials/scripts.jade
